<div class="dialog-content-wrapper clearfix ui-tabs ui-tabs-vertical" >
  <ul class="ui-tabs-nav">
    <% @tabs.each_with_index do |tab, i| %>
      <li>
        <a href="#<%= tab %>-link-area"><%= t(".#{tab}") %></a>
      </li>
    <% end %>
  </ul>
  <% @tabs.each do |tab| %>
    <div id="<%= tab %>-link-area" class="ui-tabs-panel">
      <%= render "#{tab}_link" %>
    </div>
  <% end %>
</div>
